* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  
  min-height: 200vh;
  font-family: roboto;
  /* font-size: 50px; */
  /* margin-top: 20px; */
}

header {
  display: flex;
  /* flex-direction: column; */
  /* gap: 15rem; */
  justify-content: space-between;
  padding: 10px ;
  font-size: 22px;
  border-radius: 100px;
  background-color: #2c4e35;
  color: white;
  align-items: center;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;

  .lg {
    padding: 0px 20px;
    background-color: #ffa800;
    border-radius: 100%;
  }
}

ul {
  display: flex;
  gap: 3.5rem;

  li {
    list-style: none;

  }
  .home{
    color: #ffa800;
  }
}

.fa-moon{
  margin-left: 4px;
  font-size: 30px;
  /* transform: rotate(190deg); */
}

.resume a{
text-decoration: none;
padding: 10px;
border-radius: 100px;
background-color: #ffa800;
color: #2c4e35;
font-size: 20px;
}

a:hover{
  color: white;
  transition: all 1s;
}

.container1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  line-height: 4rem;
  font-size: 22px;
  

  span{
    color: #ffa800;
    text-decoration: underline;
  }

  .intro{
    font-size: 40px;
  }

  .note{
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .hire {
    text-decoration: none;
    color: #ffa800;
    /* border: 2px solid black; */
    background-color: #2c4e35;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    /* font-size: 16px; */
    /* border-radius: 100px; */
    /* margin-top: 10px; */
    /* display: inline-block; */
  }

  .hire::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    /* background-color: teal; */
    top: -10px;
    left: -10px;
    border-top: 4px solid #ffa800 ;
    border-left: 4px solid #ffa800 ;
    transition: all 1s;
}

.hire:hover:before{
  width: 100%;
  height: 100%;
}

.hire::after{
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  right: -10px;
  bottom: -10px;
  border-bottom: 4px solid #ffa800;
  border-right:4px solid #ffa800;
  transition: all 1s;
}

.hire:hover:after{
  width: 100%;
  height: 100%;
}

  /* a:hover{
    background-color: black;
    color: white;
    transition: all 1s;
  } */


}

.services{
  padding:0 5%;
  line-height: 3rem;



  span{
    color: #ffa800;
  }
}

.grid-service{
  display: grid;
  grid-template-columns: repeat(3, 1fr  );
  padding:1rem 5rem;
  margin: 2rem;
  /* background-color: aquamarine; */
  gap: 5rem;
  
  
  .grid-child{
    height: 250px;
    background: #f7f3fa;
    border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  }
}


.one{
color: black;
/* line-height: 25px; */
/* font-family: roboto; */

}

.uiux{
 padding: 5px 17px;
 color: #2c4e35;
}

.uiuxx{
  font-size: 13px;
  line-height: 20px;
  padding: 0 7px;
}