* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  background-color: #f8f5f2;
  /* min-height: 200vh; */
  font-family: roboto;
  /* font-size: 50px; */
  /* margin-top: 20px; */
  transition: all 0.5s;
}


.dark-mode{
  background-color: #385144;
  transition: all 0.5s;
  color: white;
}

.dark-mode header{
  background-color: #f8f5f2;
  color: #385144;
}

.dark-mode .lg{
  background-color: #385144;
}

.container{
  /* background: #000; */
  width: 100%;
}

header {
  display: flex;
  /* flex-direction: column; */
  /* gap: 15rem; */
  justify-content: space-between;
  padding: 10px;
  font-size: 22px;
  border-radius: 100px;
  background-color: #385144;
  color: white;
  align-items: center;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;

  .lg {
    padding: 0px 20px;
    background-color:seashell ;
    border-radius: 100%;
  }
}

ul {
  display: flex;
  gap: 3.5rem;
  align-items: center;

  li {
    list-style: none;
  }
 
}

li a {
  text-decoration: none;
  color: white;
  display: block;
}

.dark-mode li a{
  color: #385144;
}

.fa-moon {
  margin-left: 4px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  /* transform: rotate(190deg); */
}



.resume a {
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  background-color: #f8f5f2;
  color: #385144;
  font-size: 16px;
}

.dark-mode .resume a{
  background-color: #385144;
  color: #f8f5f2;
}

a:hover {
  color: white;
  transition: all 1s;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
  line-height: 4rem;
  font-size: 22px;

  span {
    color: #385144;
    text-decoration: underline;
  }

  
  .intro {
    font-size: 40px;
  }
  
  .note {
    line-height: 2rem;
    margin-bottom: 20px;
  }

  .hire {
    text-decoration: none;
    color: #f8f5f2;
    /* border: 2px solid black; */
    background-color: #385144;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    /* font-size: 16px; */
    /* border-radius: 100px; */
    /* margin-top: 10px; */
    /* display: inline-block; */
  }
  
  
  .hire::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    /* background-color: teal; */
    top: -10px;
    left: -10px;
    border-top: 4px solid #385144;
    border-left: 4px solid #385144;
    transition: all 1s;
  }
  
  .hire:hover:before {
    width: 100%;
    height: 100%;
  }
  
  .hire::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    border-bottom: 4px solid #385144;
    border-right: 4px solid #385144;
    transition: all 1s;
  }
  
  .hire:hover:after {
    width: 100%;
    height: 100%;
  }
  
  /* a:hover{
    background-color: black;
    color: white;
    transition: all 1s;
    } */
  }

  .dark-mode .fa-moon{
    color: #385144;
  }

  .dark-mode .hire{
    background-color: #f1edf3;
    color: #385144;
  }

  .dark-mode .hire::after{
        border-bottom: 4px solid #f1edf3;
    border-right: 4px solid #f1edf3;
  }
  .dark-mode .hire::before{
        border-top: 4px solid #f1edf3;
    border-left: 4px solid #f1edf3;
  }
  .dark-mode span{
    color: #f1edf3;
  }

  .profile-img{
  width: 400px;
  /* height: 500px; */
  }

.services {
  padding: 0 5%;
  line-height: 3rem;

  span {
    color: #222;
  }
}

.grid-service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 5rem;
  margin: 2rem;
  /* background-color: aquamarine; */
  gap: 5rem;

  .grid-child {
    height: 250px;
    background: #614280;
    /* background-color: #385144; */
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 1);
    font-size: 30px;
  }
}

.one {
  color: black;
  /* line-height: 25px; */
  /* font-family: roboto; */
}

.uiux {
  padding: 5px 17px;
  color: #385144;
}

.uiuxx {
  font-size: 20px;
  line-height: 20px;
  padding: 0 7px;
}

#projects {
  padding: 20px;
}

@media (max-width: 1440px) {
  body {
    /* background: blue; */
    font-size: 20px;
  }

  .services {
    line-height: 2rem;
  }

  header{
    justify-content: space-around;
  }

  
  .grid-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 5rem;
    margin: 2rem;
    /* background-color: aquamarine; */
    gap: 5rem;

    .grid-child {
      height: 250px;
      background: #f1edf3;
      /* background-color: crimson; */
      font-size: 16px;
      border-radius: 20px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
  }

  .uiux {
    padding: 3px 12px;
  }

  .uiuxx {
    line-height: 1.5rem;
    font-size: 16px;
    color: #000;
  }
}

@media (max-width: 1024px) {

  /* body{
    background: #000;
  } */
  .grid-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 2rem;
    margin: 2rem;
    /* background-color: aquamarine; */
    gap: 4rem;

    .grid-child {
      height: 250px;
      background: #f7f3fa;
      /* background-color: crimson; */
      font-size: 16px;
      border-radius: 20px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    }
  }
  .uiuxx {
    font-size: 12px;
    color: #385144;
  }
}

 @media (max-width: 768px) {
body{
  padding: 20px;
}

header{
  font-size: 16px;
  padding: 8px;
  /* justify-content: space-around; */
}

ul{
  gap: 1rem;
  font-size: 14px;
}

.resume a{
  padding: 6px;
  font-size: 12px;
}

.logo{
  margin-left: -4rem;
}

span{
  font-size: 35px;
}

.intro p{
  font-size: 30px;
  /* background: #000; */
}

#introduction{
  font-size: 35px;
}

.services{
  


  span{
    font-size: 25px;
  }
}

.grid-service{
  gap: 3rem;
padding: 10px;
}

.grid-child{
  /* padding: 10px; */
  width: 180px;
  height: 180px;
}





}  


@media (max-width:500px){
  .my-name{
    display: none;
    padding: 6px;
  }


.container1{
    font-size: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

  #introduction{
    /* background: #000; */
    font-size: 16px;
    line-height: 2rem;

    span{
      font-size: 20px;
    }
  }

  .mobile-break{
    display: none;
  }

  .grid-service{
    grid-template-columns: repeat(1,1fr);
    padding:1rem 2rem ;
    

    .grid-child{
      width: 200px;
      height: 210px;
    }
  }
}
