* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  
  min-height: 200vh;
  font-size: 50px;
  /* margin-top: 20px; */
}

header {
  display: flex;
  /* flex-direction: column; */
  /* gap: 15rem; */
  justify-content: space-between;
  padding: 10px ;
  font-size: 22px;
  border-radius: 100px;
  background-color: #2c4e35;
  color: white;
  align-items: center;
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;

  .lg {
    padding: 0px 20px;
    background-color: #ffa800;
    border-radius: 100%;
  }
}

ul {
  display: flex;
  gap: 3.5rem;

  li {
    list-style: none;

  }
  .home{
    color: #ffa800;
  }
}

.resume a{
text-decoration: none;
padding: 10px;
border-radius: 100px;
background-color: #ffa800;
color: #2c4e35;
font-size: 20px;
}
